/**
 *      上下垂直居中，窗口从大到小   
 **/
.main{
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;           
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 22%; 
}

/**
 *      从大到小缩放 
 **/
.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.zoomIn {
   -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3,.3,.3);
            transform: scale3d(.3,.3,.3)
        }

        50% {
            opacity: 1
          }
}

/**
* vue 加载完在显示
**/
[v-cloak] {
    display: none;
}