<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.AttributeMapper">
    <update id="IncreaseTheNumberOfTable">
        update
            attribute
        set
            formcount = formcount +1
        where
            id = #{id}
    </update>

    <select id="queryNumberOfTable" resultType="long">
        select
            formcount
        from
            attribute
        where
            id = #{id}
    </select>
</mapper>