<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.BlogrollMapper">

    <!--
        get all blogroll
        获取全部友情链接
    -->
    <select id="getAllBlogroll" resultType="com.dazuizui.basicapi.entry.Blogroll">
        select
            id,
            chinese_name,
            english_name,
            english_introduce,
            chinese_introduce,
            introduceImage,
            to_link,
            create_time,
            create_by,
            update_time,
            update_by
        from
            blogroll
        where
            status = #{status} and
            delFlag = #{delFlag}
    </select>

    <!--
        insert blogroll
        插入友情连接
    -->
    <insert id="inserBlogRoll">
            INSERT INTO blogroll

            VALUES
                (
                    null,
                    #{chineseName},
                    #{englishName},
                    #{englishIntroduce},
                    #{chineseIntroduce},
                    #{introduceImage},
                    #{toLink},
                    #{createTime},
                    #{createBy},
                    null,
                    null,
                    #{status},
                    0
                )
    </insert>

    <!--
        逻辑删除友情链接
        tombstone link
    -->
    <update id="tombstoneLink">
        update
            blogroll
        set
            delFlag = 1
        where
            id = #{id}
    </update>

    <!--
        物理删除友情链接
        delete blogroll
    -->
    <delete id="deleteBlogRoll">
        delete from
            blogroll
        where
            id = #{id}
    </delete>
</mapper>