<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.CompetitionQuestionBankMapper">
    <!--
        添加比赛题目
    -->
    <insert id="addQuestionInContest">
        INSERT INTO
            competition_question_bank
        VALUE(
            null,
            #{questionId},
            #{contestId}
        )
    </insert>

    <!--
        获取比赛题目
    -->
    <select id="getQuestionListInContest" resultType="com.dazuizui.basicapi.entry.QuestionBank">
        select
            *
        from
            question_bank
        where
                id
                in (
                    select
                        t1.question_id
                    from
                        competition_question_bank t1
                    where
                        t1.contest_id = #{contestId}
                )
    </select>
</mapper>