<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.CompetitionQuestionBankMapper">
    <!--
        通过比赛id获取比赛题目
    -->
    <select id="getQuestionListByContestId" resultType="com.dazuizui.basicapi.entry.vo.ContestQuestionVo">
        SELECT
            qb.id,
            qb.chinese_name,
            qb.english_name,
            (SELECT name FROM user where id =  qb.create_by_id limit 1) as 'create_by_name',
            qb.short_name,
            qb.question_type,
            qb.grade
        FROM
            question_bank qb
        WHERE
            id IN (
            SELECT question_id from competition_question_bank where contest_id = #{contestId}
            )
    </select>

    <!--
        添加比赛题目
    -->
    <insert id="addQuestionInContest">
        INSERT INTO
            competition_question_bank
        VALUE(
            null,
            #{questionId},
            #{contestId}
        )
    </insert>

    <!--
        获取比赛题目包含ac记录
    -->
    <select id="getQuestionListInContest" resultType="com.dazuizui.basicapi.entry.vo.ContestQuestionVo">
        select
            t3.id,
            t3.short_name,
            t3.chinese_name,
            t3.grade,
            t3.question_type,
            t3.create_by_name,
            t3.create_time,
            t3.`status`,
            t1.question_id,
            t1.contest_id,
            t4.question_id,
            t4.user_id,
            t4.first_ac,
            t4.number_of_attempts
        from
            question_bank t3
                inner JOIN
            competition_question_bank t1
            on
                        t1.contest_id = #{contestId} and
                        t3.id =  t1.question_id
                LEFT JOIN
            ac_contest_question t4
            on
                        t4.user_id  = #{userId} and
                        t4.question_id = t3.id and
                        t4.contest_id = #{contestId}
    </select>
</mapper>