<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ContestMapper">
    <!--
        移除比赛详细
    -->
    <delete id="removeTheContestDetailedById">
        delete
        from
            contest_detailed
        where
            contest_id = #{id}
    </delete>


    <!--
        移除比赛
    -->
    <delete id="removeTheContestById">
        delete
        from
            contest
        where
            id = #{id}
    </delete>

    <!--
        修改竞赛详细信息
    -->
    <update id="updateContestDetailed">
        update
            contest_detailed
        set
            md_text = #{mdText}
        where
            contest_id = #{id}
    </update>

    <!--
        请修改比赛信息
    -->
    <update id="updateContest">
        update
            contest
        set
            name = #{name},
            start_time = #{startTime},
            end_time = #{endTime},
            post_match_processing = #{postMatchProcessing},
            contest_type = #{contestType},
            parsing_rule = #{parsingRule},
            update_by_id = #{updateById},
            update_time  = #{updateTime}
        where
            id = #{id}
    </update>

    <!--
        查询多少个比赛，等待优化
    -->
    <select id="queryCoubtOfContest" resultType="long">
        select
            count(0)
        from
            contest
    </select>

    <!--
        管理员分页查询所有比赛信息
    -->
    <select id="adminQueryGameInformationByPage" resultType="com.dazuizui.basicapi.entry.Contest">
        SELECT
            c.id,
            c.start_time,
            c.name,
            c.end_time,
            c.contest_type,
            c.post_match_processing,
            c.create_by_id,
            c.create_time,
            c.status,
            c.create_time,
            c.del_flag,
            c.parsing_rule,
            (SELECT name from user where id = c.create_by_id LIMIT 1) AS 'create_by_name'
        from
            contest c
            limit
            #{page},#{size}
    </select>

    <select id="getQuestionListInContest" resultType="com.dazuizui.basicapi.entry.QuestionBank">

    </select>

    <!--
        获取比赛介绍信息
    -->
    <select id="getEventById" resultType="com.dazuizui.basicapi.entry.Contest">
        SELECT
            t1.id,
            t1.name,
            t1.start_time,
            t1.parsing_rule,
            t1.contest_type,
            t1.end_time,
            t1.post_match_processing,
            t2.html_text,
            t2.md_text
        from
            contest t1
                LEFT JOIN
            contest_detailed t2
            on
                t1.id =  t2.contest_id
        where t1.id = #{id}
    </select>
    <!--
        获取往期赛制
    -->
    <select id="getPastevents" resultType="com.dazuizui.basicapi.entry.Contest">
        SELECT
            id,
            name,
            start_time,
            parsing_rule,
            contest_type,
            end_time,
            post_match_processing,
            status
        from
            contest
        where
            now() &gt;= end_time and
            del_flag = 0 and
            status = 0;
    </select>

    <!--
        获取未来赛制
    -->
    <select id="getFutureEvents" resultType="com.dazuizui.basicapi.entry.Contest">
        SELECT
            id,
            name,
            start_time,
            parsing_rule,
            contest_type,
            end_time,
            post_match_processing,
            status
        from
            contest
        where
            now() &lt;= end_time and
            del_flag = 0 and
            status = 0;
    </select>

    <!--
        插入比赛信息
    -->
    <insert id="insertConTest" useGeneratedKeys="true" keyProperty="id">
        insert into
            contest
        value(
                null,
                #{name},
                #{startTime},
                #{parsingRule},
                #{contestType},
                #{endTime},
                #{postMatchProcessing},
                #{createById},
                #{createByName},
                #{createTime},
                #{updateById},
                #{updateByName},
                #{updateTime},
                0,
                0
            )
    </insert>

    <!--
        插入比赛信息详细
    -->
    <insert id="insertConTestDetailed" >
        insert into
            contest_detailed
        value(
            null,
            #{id},
            #{mdText},
            #{htmlText}
        )
    </insert>



    <select id="queryTheContestById" resultType="com.dazuizui.basicapi.entry.Contest">
        select
            id,
            name,
            startTime,
            contestType,
            endTime,
    </select>
</mapper>