<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ContestMapper">
    <select id="getFutureEvents" resultType="com.dazuizui.basicapi.entry.Contest">
        SELECT
            id,
            name,
            start_time,
            parsing_rule,
            contest_type,
            end_time,
            post_match_processing,
            status
        from
            contest
        where
            now() &lt; start_time and
            del_flag = 0
    </select>

    <insert id="insertConTest">
        insert into
            contest
        value(
                null,
                #{name},
                #{startTime},
                #{parsingRule},
                #{contestType},
                #{endTime},
                #{postMatchProcessing},
                #{createById},
                #{createByName},
                #{createTime},
                #{updateById},
                #{updateByName},
                #{updateTime},
                0,
                0
            )
    </insert>


    <insert id="insertConTestDetailed">
        insert into
            contest_detailed
        value(
            null,
            #{id},
            #{mdText},
            #{htmlText}
        )
    </insert>

    <select id="queryTheContestById" resultType="com.dazuizui.basicapi.entry.Contest">
        select
            id,
            name,
            startTime,
            contestType,
            endTime,
    </select>
</mapper>