<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ProblemLimitMapper">
    <!--
        修改问题limit
    -->
    <update id="updateTheprolemLimitById" >
        update
            problem_limit
        set
            stdout_max = #{stdoutMax} ,
            stderr_max = #{stderrMax} ,
            cpu_limit  = #{cpuLimit}  ,
            memory_limit = #{memoryLimit},
            proc_limit  = #{procLimit}
        where
            id = #{id}
    </update>

    <!--
        通过id查询问题限制
    -->
    <select id="queryTheProblemLimitByQuestionId" resultType="com.dazuizui.basicapi.entry.ProblemLimit">
        select
            id,
            stdout_max,
            stderr_max,
            cpu_limit,
            memory_limit,
            proc_limit
        from
            problem_limit
        where
            question_id = #{questionId}
        limit 1
    </select>

    <insert id="addProblemLimit">
        insert into
            problem_limit
        value (
            null,
            #{questionId},
            #{stdoutMax},
            #{stderrMax},
            #{cpuLimit},
            #{memoryLimit},
            #{procLimit},
            #{createById},
            #{createTime},
            #{updateTime},
            #{updateById},
            0,0
        )
    </insert>

    <!--
        删除题目限制id
    -->
    <delete id="deleteByQuestionIdList">
        delete from
            problem_limit
        where
            question_id
        in
        <foreach collection="list" separator="," open="(" close=")" item="tmp">
            #{tmp}
        </foreach>
    </delete>

</mapper>