<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ProblemLimitMapper">
    <select id="queryTheProblemLimitByQuestionId" resultType="com.dazuizui.basicapi.entry.ProblemLimit">
        select
            stdout_max,
            stderr_max,
            cpu_limit,
            memory_limit,
            procLimit
        from
            problem_limit
        where
            question_id = #{questionId}
        limit 1
    </select>

    <insert id="addProblemLimit">
        insert into
            problem_limit
        value (
            null,
            #{questionId},
            #{stdoutMax},
            #{stderrMax},
            #{cpuLimit},
            #{memoryLimit},
            #{procLimit},
            #{createById},
            #{createTime},
            #{updateTime},
            #{updateById},
            0,0
        )
    </insert>


</mapper>