<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ProctorMapper">
    <!--
        添加监考人员
    -->
    <insert id="addProctor">
        insert into
            proctor
        value(
            null,
            #{userId},
            #{contestId},
            #{createBy},
            #{createTime},
            null,
            null,
            0,
            0
        )
    </insert>
</mapper>