<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.ProctorMapper">
    <!--
        分页获取监考人员
    -->
    <select id="getProctorsByPagin" resultType="com.dazuizui.business.domain.ProctorInfo">
        select
            t1.id as 'proctor_id',
                t2.id as 'user_id',
                t2.username as 'username',
                t2.name as 'name',
                t2.sex as 'sex',
                (
                    select
                        name
                    from
                         user
                    where
                          t1.create_by = id
                )  as 'create_by',
                t1.create_time as 'create_time',
                t2.`status` as 'user_status',
                t2.del_flag as 'user_del_flag'
        from
            proctor t1
                inner JOIN
            user t2
            on
                t1.contest_id = #{contestId} and
                t1.status = #{status} and
                t1.del_flag =  #{delFlag} and
                t1.user_id = t2.id
        limit
              #{start},
              #{size}
    </select>

    <!--
        查看监考人员人数 in 当前比赛
    -->
    <select id="getTheNumberOfProctorForThisCOmpetition" resultType="long">
        select
            quantity
        from
            proctor_attribute
        where
            contest_id = #{contestId}
    </select>

    <!--
        查看过去时的竞赛
    -->
    <select id="proctorGetLastEventsNumber" resultType="long">
        select
            count(*)
        from
            proctor t1
                INNER JOIN
            contest t2
            ON
                        user_id = #{userId} and
                        t1.contest_id = t2.id and
                        now() &gt; t2.end_time and
                        t2.del_flag = 0 and
                        t2.status = 0
    </select>

    <!--
         分页获取未来进行时现在进行时的赛制
    -->
    <select id="proctorGetLastEvents" resultType="com.dazuizui.basicapi.entry.Contest">
        select
            t2.id,
            t2.name,
            t2.start_time,
            t2.parsing_rule,
            t2.contest_type,
            t2.end_time,
            t2.post_match_processing,
            t2.status
        from
            proctor t1
                INNER JOIN
            contest t2
            ON
                        user_id = #{userId} and
                        t1.contest_id = t2.id and
                        now() &gt; t2.end_time and
                        t2.del_flag = 0 and
                        t2.status = 0
            LIMIT #{proctorGetFutureEventsInfoBo.start},#{proctorGetFutureEventsInfoBo.size}

    </select>

    <select id="proctorGetFutureEventsNumber" resultType="long">
        select
            count(*)
        from
            proctor t1
        INNER JOIN
            contest t2
        ON
            user_id = #{userId} and
            t1.contest_id = t2.id and
            now() &lt;= t2.end_time and
            t2.del_flag = 0 and
            t2.status = 0
    </select>

    <!--
         分页获取未来进行时现在进行时的赛制
    -->
    <select id="proctorGetFutureEvents" resultType="com.dazuizui.basicapi.entry.Contest">
        select
            t2.id,
            t2.name,
            t2.start_time,
            t2.parsing_rule,
            t2.contest_type,
            t2.end_time,
            t2.post_match_processing,
            t2.status
        from
            proctor t1
        INNER JOIN
            contest t2
        ON
            user_id = #{userId} and
            t1.contest_id = t2.id and
            now() &lt;= t2.end_time and
            t2.del_flag = 0 and
            t2.status = 0
        LIMIT #{proctorGetFutureEventsInfoBo.start},#{proctorGetFutureEventsInfoBo.size}

    </select>
    <!--
        添加监考人员
    -->
    <insert id="addProctor">
        insert into
            proctor
        value(
            null,
            #{userId},
            #{contestId},
            #{createBy},
            #{createTime},
            null,
            null,
            0,
            0
        )
    </insert>

    <select id="findByContestIdAndUserId" resultType="com.dazuizui.business.domain.Proctor">
        select
               *
        from
             proctor
        where
              contest_id = #{contestId} and
              user_id = #{userId}
    </select>

    <!--
        通过userid 查询一个监考人员
    -->
    <select id="findByIdLimit1" resultType="com.dazuizui.business.domain.Proctor">
        select
            *
        from
            proctor
        where
            user_id = #{userId}
        limit
            1
    </select>


    <delete id="deleteById" >
        delete
        from
            proctor
        where
            id = #{id}
    </delete>
</mapper>