<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.QuestionCaseMapper">
    <!--
        删除案例
    -->
    <delete id="deleteCaseByCaseId">
        delete
        from
            question_case
        where
            id = #{id} ;
    </delete>

    <!--
        修改案例
    -->
    <update id="updateQuestionCase">
        update
            question_case
        set
            inputs = #{inputs},
            answer = #{answer},
            update_by_id = #{updateById},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>

    <!--添加案例-->
    <insert id="addQuestionCase">
        insert into
            question_case
        values
        <foreach collection="questionCases" item="item" separator=",">
            (
                null,
                #{questionId},
                #{item.inputs},
                #{item.answer},
                #{userId},
                0,
                #{createTime},
                null,
                null,
                null,
                0,
                0
            )
        </foreach>
    </insert>

    <!--
        查询本题案例
    -->
    <select id="queryCountOfCase" resultType="long">
        select
            count(0)
        from
            question_case
        where
            question_id = #{questionId}
    </select>

    <!--
        分页查询案例
    -->
    <select id="pagingToGetQuestionCase" resultType="com.dazuizui.basicapi.entry.QuestionCase">
        select
            id,
            inputs,
            answer,
            create_by_name,
            create_time,
            update_by_name,
            update_time
        from
            question_case
        where
            question_id = #{questionId} and
            status = 0
        limit
            #{pages},#{numbers}

    </select>

    <!--
        通过id查询案例
    -->
    <select id="queryTheQuestionCasesByQuestionId" resultType="com.dazuizui.basicapi.entry.QuestionCase">
        select
            inputs,
            answer
        from
            question_case
        where
            question_id = #{questionId}
    </select>

    <!--
        通过问题id删除所有案例
    -->
    <delete id="deleteCaseById">
        delete from
            question_case
        where
            question_id = #{questionId}
    </delete>

</mapper>