<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.student.StudentMapper">
    <!--
        修改我的学生认证
    -->
    <update id="updateStudentCertification">
        update
            student_certification
        <set>
            <if test="universty != null and universty != 0">
                universty = #{universty},
            </if>
            <if test="college != null and college > 0">
                college = #{college},
            </if>
            <if test="major != null and major > 0  ">
                major = #{major},
            </if>
            <if test="lesson != null and lesson > 0" >
                lesson = #{lesson},
            </if>
            <if test="name != null and name.length() != 0">
                name = #{name},
            </if>
            <if test="studentId != null and studentId.length != 0">
                student_id = #{studentId},
            </if>
            <if test="ic != null and ic.length() != 0">
                ic = #{ic},
            </if>
            <if test="icType != null and icType > 0 ">
                ic_type = #{icType},
            </if>
            <if test="updateBy != null and updateBy.length() > 0">
                update_by = #{updateBy},
            </if>
            <if test="updateById != null and updateById > 0">
                update_by_id = #{updateById},
            </if>
            <if test="updateTime != null ">
                updateTime = #{updateTime},
            </if>
        </set>
        where
            id = #{id}
    </update>

    <!--
        查询
    -->
    <select id="queryStudentInfoByUserId" resultType="com.dazuizui.basicapi.entry.StudentCertification">
        select
            universty,
            college,
            major,
            lesson,
            name,
            student_id,
            ic,
            ic_type,
            create_time,
            id
        from
            student_certification
        where
              user_id = #{userId}
        limit 1
    </select>

    <!--
        学生认证useGeneratedKeys="true" keyProperty="id"
    -->
    <insert id="studentCertification" useGeneratedKeys="true" keyProperty="id">
        insert
            student_certification
        value
            (
                null,
                #{userId},
                #{universty},
                #{college},
                #{major},
                #{lesson},
                #{name},
                #{studentId},
                #{ic},
                #{icType},
                #{createBy},
                #{createById},
                #{createTime},
                #{updateBy},
                #{updateById},
                #{updateTime},
                #{delFlag},
                #{status}
            )
    </insert>

</mapper>