<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.business.mapper.UserArticleAttributeMapper">
    <!--
          添加用户文章属性
    -->
    <insert id="AddUserArticleAttribute">
        insert into
            user_article_attribute
        value(null,#{userId},0,0,0);
    </insert>

    <!--
           增加用户博文类型数量
    -->
    <update id="increaseTheNumberOfUserActicle">
        update
            user_article_attribute
        <set>
            <if test="type == 1">
                number = number + #{num},
            </if>
            <if test="status == 0">
                public_article = public_article + #{num},
            </if>
            <if test="status == 1">
                private_article = private_article + #{num},
            </if>
            <if test="status == 2">
                banned_article =   banned_article + #{num},
            </if>
        </set>
        where
            user_id = #{userId}
    </update>


    <!--

    -->
</mapper>